AppFramework/Demo/TelChina.AF.Demo.DemoSV.Test/Service References/TransSVDirect/TelChina.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:wsap="http://schemas.xmlsoap.org/ws/2004/08/addressing/policy" xmlns:wsa10="http://www.w3.org/2005/08/addressing" xmlns:tns="http://www.telchina.com.cn/TRF/V4/Service/2011/03" xmlns:msc="http://schemas.microsoft.com/ws/2005/12/wsdl/contract" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:wsx="http://schemas.xmlsoap.org/ws/2004/09/mex" xmlns:wsp="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:wsa="http://schemas.xmlsoap.org/ws/2004/08/addressing" xmlns:wsaw="http://www.w3.org/2006/05/addressing/wsdl" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:xsd="http://www.w3.org/2001/XMLSchema" targetNamespace="http://www.telchina.com.cn/TRF/V4/Service/2011/03" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <xsd:schema targetNamespace="http://www.telchina.com.cn/TRF/V4/Service/2011/03/Imports">
      <xsd:import schemaLocation="http://localhost:1234/TelChina.AF.Demo.DemoSV.ITransSV?xsd=xsd0" namespace="http://www.telchina.com.cn/TRF/V4/Service/2011/03" />
      <xsd:import schemaLocation="http://localhost:1234/TelChina.AF.Demo.DemoSV.ITransSV?xsd=xsd2" namespace="http://schemas.datacontract.org/2004/07/TelChina.AF.Demo.DemoSV.Exceptions" />
      <xsd:import schemaLocation="http://localhost:1234/TelChina.AF.Demo.DemoSV.ITransSV?xsd=xsd3" namespace="http://schemas.datacontract.org/2004/07/TelChina.AF.Sys.Exceptions" />
      <xsd:import schemaLocation="http://localhost:1234/TelChina.AF.Demo.DemoSV.ITransSV?xsd=xsd1" namespace="http://schemas.microsoft.com/2003/10/Serialization/" />
      <xsd:import schemaLocation="http://localhost:1234/TelChina.AF.Demo.DemoSV.ITransSV?xsd=xsd4" namespace="http://schemas.datacontract.org/2004/07/System" />
      <xsd:import schemaLocation="http://localhost:1234/TelChina.AF.Demo.DemoSV.ITransSV?xsd=xsd5" namespace="http://schemas.microsoft.com/2003/10/Serialization/Arrays" />
    </xsd:schema>
  </wsdl:types>
  <wsdl:message name="ITransSV_Required_InputMessage">
    <wsdl:part name="parameters" element="tns:Required" />
  </wsdl:message>
  <wsdl:message name="ITransSV_Required_OutputMessage">
    <wsdl:part name="parameters" element="tns:RequiredResponse" />
  </wsdl:message>
  <wsdl:message name="ITransSV_Required_ExpectedExceptionFault_FaultMessage">
    <wsdl:part xmlns:q1="http://schemas.datacontract.org/2004/07/TelChina.AF.Demo.DemoSV.Exceptions" name="detail" element="q1:ExpectedException" />
  </wsdl:message>
  <wsdl:message name="ITransSV_Required_UnhandledExceptionFault_FaultMessage">
    <wsdl:part xmlns:q2="http://schemas.datacontract.org/2004/07/TelChina.AF.Sys.Exceptions" name="detail" element="q2:UnhandledException" />
  </wsdl:message>
  <wsdl:message name="ITransSV_Required_ExceptionBaseFault_FaultMessage">
    <wsdl:part xmlns:q3="http://schemas.datacontract.org/2004/07/TelChina.AF.Sys.Exceptions" name="detail" element="q3:ExceptionBase" />
  </wsdl:message>
  <wsdl:message name="ITransSV_RequiresNew_InputMessage">
    <wsdl:part name="parameters" element="tns:RequiresNew" />
  </wsdl:message>
  <wsdl:message name="ITransSV_RequiresNew_OutputMessage">
    <wsdl:part name="parameters" element="tns:RequiresNewResponse" />
  </wsdl:message>
  <wsdl:message name="ITransSV_RequiresNew_ExceptionBaseFault_FaultMessage">
    <wsdl:part xmlns:q4="http://schemas.datacontract.org/2004/07/TelChina.AF.Sys.Exceptions" name="detail" element="q4:ExceptionBase" />
  </wsdl:message>
  <wsdl:message name="ITransSV_RequiresNew_ExpectedExceptionFault_FaultMessage">
    <wsdl:part xmlns:q5="http://schemas.datacontract.org/2004/07/TelChina.AF.Demo.DemoSV.Exceptions" name="detail" element="q5:ExpectedException" />
  </wsdl:message>
  <wsdl:message name="ITransSV_RequiresNew_UnhandledExceptionFault_FaultMessage">
    <wsdl:part xmlns:q6="http://schemas.datacontract.org/2004/07/TelChina.AF.Sys.Exceptions" name="detail" element="q6:UnhandledException" />
  </wsdl:message>
  <wsdl:message name="ITransSV_NotSupported_InputMessage">
    <wsdl:part name="parameters" element="tns:NotSupported" />
  </wsdl:message>
  <wsdl:message name="ITransSV_NotSupported_OutputMessage">
    <wsdl:part name="parameters" element="tns:NotSupportedResponse" />
  </wsdl:message>
  <wsdl:message name="ITransSV_NotSupported_ExpectedExceptionFault_FaultMessage">
    <wsdl:part xmlns:q7="http://schemas.datacontract.org/2004/07/TelChina.AF.Demo.DemoSV.Exceptions" name="detail" element="q7:ExpectedException" />
  </wsdl:message>
  <wsdl:message name="ITransSV_NotSupported_UnhandledExceptionFault_FaultMessage">
    <wsdl:part xmlns:q8="http://schemas.datacontract.org/2004/07/TelChina.AF.Sys.Exceptions" name="detail" element="q8:UnhandledException" />
  </wsdl:message>
  <wsdl:message name="ITransSV_NotSupported_ExceptionBaseFault_FaultMessage">
    <wsdl:part xmlns:q9="http://schemas.datacontract.org/2004/07/TelChina.AF.Sys.Exceptions" name="detail" element="q9:ExceptionBase" />
  </wsdl:message>
  <wsdl:message name="ITransSV_Supported_InputMessage">
    <wsdl:part name="parameters" element="tns:Supported" />
  </wsdl:message>
  <wsdl:message name="ITransSV_Supported_OutputMessage">
    <wsdl:part name="parameters" element="tns:SupportedResponse" />
  </wsdl:message>
  <wsdl:message name="ITransSV_Supported_ExpectedExceptionFault_FaultMessage">
    <wsdl:part xmlns:q10="http://schemas.datacontract.org/2004/07/TelChina.AF.Demo.DemoSV.Exceptions" name="detail" element="q10:ExpectedException" />
  </wsdl:message>
  <wsdl:message name="ITransSV_Supported_UnhandledExceptionFault_FaultMessage">
    <wsdl:part xmlns:q11="http://schemas.datacontract.org/2004/07/TelChina.AF.Sys.Exceptions" name="detail" element="q11:UnhandledException" />
  </wsdl:message>
  <wsdl:message name="ITransSV_Supported_ExceptionBaseFault_FaultMessage">
    <wsdl:part xmlns:q12="http://schemas.datacontract.org/2004/07/TelChina.AF.Sys.Exceptions" name="detail" element="q12:ExceptionBase" />
  </wsdl:message>
  <wsdl:portType name="ITransSV">
    <wsdl:operation name="Required">
      <wsdl:input wsaw:Action="http://www.telchina.com.cn/TRF/V4/Service/2011/03/ITransSV/Required" message="tns:ITransSV_Required_InputMessage" />
      <wsdl:output wsaw:Action="http://www.telchina.com.cn/TRF/V4/Service/2011/03/ITransSV/RequiredResponse" message="tns:ITransSV_Required_OutputMessage" />
      <wsdl:fault wsaw:Action="http://www.telchina.com.cn/TRF/V4/Service/2011/03/ITransSV/RequiredExpectedExceptionFault" name="ExpectedExceptionFault" message="tns:ITransSV_Required_ExpectedExceptionFault_FaultMessage" />
      <wsdl:fault wsaw:Action="http://www.telchina.com.cn/TRF/V4/Service/2011/03/ITransSV/RequiredUnhandledExceptionFault" name="UnhandledExceptionFault" message="tns:ITransSV_Required_UnhandledExceptionFault_FaultMessage" />
      <wsdl:fault wsaw:Action="http://www.telchina.com.cn/TRF/V4/Service/2011/03/ITransSV/RequiredExceptionBaseFault" name="ExceptionBaseFault" message="tns:ITransSV_Required_ExceptionBaseFault_FaultMessage" />
    </wsdl:operation>
    <wsdl:operation name="RequiresNew">
      <wsdl:input wsaw:Action="http://www.telchina.com.cn/TRF/V4/Service/2011/03/ITransSV/RequiresNew" message="tns:ITransSV_RequiresNew_InputMessage" />
      <wsdl:output wsaw:Action="http://www.telchina.com.cn/TRF/V4/Service/2011/03/ITransSV/RequiresNewResponse" message="tns:ITransSV_RequiresNew_OutputMessage" />
      <wsdl:fault wsaw:Action="http://www.telchina.com.cn/TRF/V4/Service/2011/03/ITransSV/RequiresNewExceptionBaseFault" name="ExceptionBaseFault" message="tns:ITransSV_RequiresNew_ExceptionBaseFault_FaultMessage" />
      <wsdl:fault wsaw:Action="http://www.telchina.com.cn/TRF/V4/Service/2011/03/ITransSV/RequiresNewExpectedExceptionFault" name="ExpectedExceptionFault" message="tns:ITransSV_RequiresNew_ExpectedExceptionFault_FaultMessage" />
      <wsdl:fault wsaw:Action="http://www.telchina.com.cn/TRF/V4/Service/2011/03/ITransSV/RequiresNewUnhandledExceptionFault" name="UnhandledExceptionFault" message="tns:ITransSV_RequiresNew_UnhandledExceptionFault_FaultMessage" />
    </wsdl:operation>
    <wsdl:operation name="NotSupported">
      <wsdl:input wsaw:Action="http://www.telchina.com.cn/TRF/V4/Service/2011/03/ITransSV/NotSupported" message="tns:ITransSV_NotSupported_InputMessage" />
      <wsdl:output wsaw:Action="http://www.telchina.com.cn/TRF/V4/Service/2011/03/ITransSV/NotSupportedResponse" message="tns:ITransSV_NotSupported_OutputMessage" />
      <wsdl:fault wsaw:Action="http://www.telchina.com.cn/TRF/V4/Service/2011/03/ITransSV/NotSupportedExpectedExceptionFault" name="ExpectedExceptionFault" message="tns:ITransSV_NotSupported_ExpectedExceptionFault_FaultMessage" />
      <wsdl:fault wsaw:Action="http://www.telchina.com.cn/TRF/V4/Service/2011/03/ITransSV/NotSupportedUnhandledExceptionFault" name="UnhandledExceptionFault" message="tns:ITransSV_NotSupported_UnhandledExceptionFault_FaultMessage" />
      <wsdl:fault wsaw:Action="http://www.telchina.com.cn/TRF/V4/Service/2011/03/ITransSV/NotSupportedExceptionBaseFault" name="ExceptionBaseFault" message="tns:ITransSV_NotSupported_ExceptionBaseFault_FaultMessage" />
    </wsdl:operation>
    <wsdl:operation name="Supported">
      <wsdl:input wsaw:Action="http://www.telchina.com.cn/TRF/V4/Service/2011/03/ITransSV/Supported" message="tns:ITransSV_Supported_InputMessage" />
      <wsdl:output wsaw:Action="http://www.telchina.com.cn/TRF/V4/Service/2011/03/ITransSV/SupportedResponse" message="tns:ITransSV_Supported_OutputMessage" />
      <wsdl:fault wsaw:Action="http://www.telchina.com.cn/TRF/V4/Service/2011/03/ITransSV/SupportedExpectedExceptionFault" name="ExpectedExceptionFault" message="tns:ITransSV_Supported_ExpectedExceptionFault_FaultMessage" />
      <wsdl:fault wsaw:Action="http://www.telchina.com.cn/TRF/V4/Service/2011/03/ITransSV/SupportedUnhandledExceptionFault" name="UnhandledExceptionFault" message="tns:ITransSV_Supported_UnhandledExceptionFault_FaultMessage" />
      <wsdl:fault wsaw:Action="http://www.telchina.com.cn/TRF/V4/Service/2011/03/ITransSV/SupportedExceptionBaseFault" name="ExceptionBaseFault" message="tns:ITransSV_Supported_ExceptionBaseFault_FaultMessage" />
    </wsdl:operation>
  </wsdl:portType>
</wsdl:definitions>